<p id="notice"><%= notice %></p>

<p>
  <h2><strong>Task:</strong></h2>
  <%= @task.name %>
</p>

<% if @task.sessions.any? %>
      <h3>Sessions</h3>
      <ul class="sessions">
        <%= render @sessions %>
      </ul>
<% end %>

<%= link_to 'Back', root_path %>
